@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <img src="~/img/CaixaEletronico.png" width="700" height="350"/>
    
    
</div>

<wbr />

<div class="text-center">

    <a id="bt-sacar" class="btn btn-outline-primary" asp-controller="Notas" asp-action="NotasDisponiveis"> SACAR </a>

</div>